body
{
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon
{
    padding-top: 50px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.back_me
{
    background-image: url(../des/background/Sea.jpg);    
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.back_me_text
{
    height: 200px;
    font-size: 46px;
    padding-top: 30px;
}

.back_me_mini
{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
}