body
{
    background-color: rgb(196, 240, 130);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon
{
    padding-top: 50px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.back_me
{
    background-image: url(../des/background/Sea.jpg);    
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.back_me_text
{
    height: 200px;
    font-size: 46px;
    padding-top: 30px;
    font-style: italic;
    font-weight: bold;
}

.back_me_mini
{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
    font-style: italic;
}

a
{
    background-color: rgb(50, 109, 50);
    font-size: 24px;
    border: solid black;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    color: #a9fdac;
    border-radius: 5px;
}
a:hover
{
    color: dimgray;
}

.teksts1
{
    color: rgb(0, 71, 0);
    text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #ff0000,
                         1px -1px 0 #ffffff,
                        -1px -1px 0 #00ff62;
}

.works
{
    text-align: center;
}